.MMM-SwissAlpLakes i {
    margin-right: 5px;
}

.temp-hot {
    color: red;
}

.temp-warm {
    color: orange;
}

.temp-average {
    color: yellow;
}

.temp-cold {
    color: lightblue;
}

.temp-freezing {
    color: blue;
}
.lake-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.temp-details {
    margin-left: 5px;
}

.last-update {
    font-size: smaller;
    margin-top: 1px;
    text-align: left;
}
